* {
  font-family: sans-serif;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.todo-list {
  padding: 0;
}

.item {
  list-style: none;
  background: #e0f0ff;
  border: 1px solid #9daaff;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 2px;
}

.item .fa {
  padding-right: 5px;
}

.completed .item {
  background: #e0ffe4;
  border: 1px solid #02ff00;
}

.item:hover {
  cursor: pointer;
}

.isClicked {
  background: red;
}
